*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 203, 154);
}
.texto-home{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 6vw;
    margin-top: 2vh;
    font-weight: bold;
}
.mensagem-cliente{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 6vw;
    font-weight: lighter;
}
.icon-cliente{
    position: absolute;
    left: 74vw;
    top: 13px;
}
.barra-pesquisa{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    background-color: rgb(255, 255, 255);
    height: 6vh;
    width: 80vw;
    margin-left: 10vw;
    align-items: center;
    font-family:'Roboto', sans-serif;
}
.icon-pesquisa{
    width: 8vw;
    border: none;
    background-color: transparent;
    margin-top: 4px;
    cursor: pointer;
}
input{
    height: 6vh;
    width: 68vw;
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.texto-categorias{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
}
.container-imagens-categorias{
    display: flex;
    gap: 2vh;
    width: 48vh;
    margin-top: 1.5vh;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.categorias{
    margin-top: 2vh;
    margin-left: 6vw;
}
.icone-categorias{
    height: 7.8vh;
    width: 16vw;
    border: none;
    background-color: transparent;
    cursor: pointer;  
}
.texto-pizzas-favoritas{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    margin-left: 6vw;
    margin-top: 1vh;
    width: 75vh;
}
.container-pizzas{
    display: flex;
    margin-top: 2vh;
    margin-left: 6vw;
    white-space: nowrap;
    width: 70vh;
    overflow-x: visible;
    
}
.pizzas-favoritas{
    overflow-x: scroll;
}
.pizza1{
    background-image: url(./img/calabreza\ com\ queijo.svg);
    width: 10rem;
    height: 15.6vh;
    border-radius: 5%;
    background-repeat: no-repeat;
    white-space: nowrap;
    background-size: cover;
    cursor: pointer;
}
.pizza2{
    background-image: url(./img/pepperoni\ com\ queijo.svg);
    width: 10rem;
    height: 15.6vh;
    border-radius: 5%;    
    background-repeat: no-repeat;
    white-space: nowrap;
    margin-left: 2vh;
    background-size: cover;
    cursor: pointer;
}
.pizza3{
    background-image: url(./img/marguerita.svg);
    width: 10rem;
    height: 15.6vh;
    background-repeat: no-repeat;
    white-space: nowrap;
    margin-left: 2vh;
    background-size: cover;
    cursor: pointer;
}
.preco{
    width: 17vw;
    height: 3vh;
    background-color: red;
    border-radius: 50%;
    display: flex;
    text-justify: center;
    text-align: center;
    margin-top: 5vh;
    margin-left: .5vh;
}
.texto-preco{
    font-size: 14px;
    margin-left: 5px;
    margin-top: .5vh;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.descricao{
    white-space: wrap;
    width: 88%;
    height: 40%;
    background-color: rgb(0, 0, 0, 55%);
    margin-top: 5px;
    border-radius: 5%;
    font-family: 'Roboto', sans-serif;
}
.texto-descricao{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 2px;
}
.texto-pizzas-recomendadas{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    margin-left: 6vw;
    margin-top: 1vh;
}
.container-pizzas-recomendadas{
    display: flex;
    margin-top: 1.5vh;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 60vh;
}
.pizza4{
    background-image: url(./img/pepperoni-com-queijo-e-tomate.svg);
    width: 10rem;
    height: 15.6vh;
    border-radius: 5%;    
    background-repeat: no-repeat;
    white-space: nowrap;
    margin-left: 3.4vh;
    background-size: cover;
    cursor: pointer;
}
.pizza5{
    background-image: url(./img/brotinho-com-queijo-e-tomate.svg);
    width: 10rem;
    height: 15.6vh;
    border-radius: 5%;    
    background-repeat: no-repeat;
    white-space: nowrap;
    margin-left: 2vh;
    background-size: cover;
    cursor: pointer;
}
.texto-bebidas{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    margin-left: 6vw;
    margin-top: 1vh;
}
.container-bebidas{
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
    margin-left: 2vh;
}
.bebida1{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 88vw;
    height: 10vh;
    margin-left: 2vw;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 35%);
    cursor: pointer;
}
.titulo-bebida{
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    margin-top: .5vh;
}
.descricao-bebida1{
    margin-top: 4vh;
    margin-left: -14vh;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    width: 23vh;
}
.preco-bebida{
    width: 17vw;
    height: 3vh;
    background-color: red;
    border-radius: 20px;
    display: flex;
    text-justify: center;
    text-align: center;
    margin-top: 5vh;
    margin-left: 9vh;
}
.texto-preco-bebida{
    font-size: 14px;
    margin-left: .5vh;
    margin-top: .5vh;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.bebida2{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 88vw;
    height: 10vh;
    margin-left: 2vw;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 35%);
    margin-top: 1.5vh;
    cursor: pointer;
}
.descricao-bebida2{
    margin-top: 4vh;
    margin-left: -18.5vh;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    width: 50vh;
}
.preco-bebida2{
    width: 17vw;
    height: 3vh;
    background-color: red;
    border-radius: 20px;
    display: flex;
    text-justify: center;
    text-align: center;
    margin-top: 5vh;
    margin-left: -17.5vh;
}
footer{
    background-color: rgb(242, 119, 6);
    height: 8vh;
}
.elementos-navegacao{
    display: flex;
    height: 100%;
    justify-content: center;
    gap: 8vh;
    margin-top: 4vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
}
.perfil{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.icone-perfil{
    height: 3vh;
    margin-bottom: .5vh;
}
.texto-perfil{
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 12px;
}
.bebidas{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.icone-bebida{
    height: 3vh;
    margin-bottom: .5vh;
}
.texto-bebida{
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 12px;
}
.sobremesas{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.icone-sobremesa{
    height: 3vh;
    margin-bottom: .5vh;
}
.texto-sobremesa{
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 12px;
}